@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black:#263238;
    --white:#FFFFFF;
    --pink:#FF8C92;
    --light_pink:#F5F4F4;
    --light_gray:#F2F6F7;
    --gray:#4E4E4E;
    --c_green:#E9F5EF;
}
/* Colors */
.pink_color{
    color: var(--pink);
}
.bg_light_gray{
    background-color: var(--light_gray);
}
.bg_c_green{
    background-color: var(--c_green);
}
/* Fonts */
.fw_600{
    font-weight: 600 !important;
}
.fw_400{
    font-weight: 400 !important;
}
/* Header */
.site_header{
    background-image: url(images/header_background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.site_menu{
    color: var(--black);
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.btn_light,
.btn_dark,
.btn_light{
    background-color: var(--white);
    border-radius: 25px;
    padding: 12px 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.btn_dark{
    background-color: var(--black);
    color: var(--white);
}
.btn_dark:hover{
    color:var(--white)
}
.section_sub_heading,
.section_main_heading,
.section_heading,
.test_name,
.footer_heading{
    font-size: 23px;
    font-weight: 800;
    font-family: 'Open Sans';
    text-transform: capitalize;
}
.section_main_heading{
    font-size: 50px;
}
.section_desc,
.test_desc{
    color: #4E4E4E;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
}
.site_nav button{
    font-weight:600;
}
/* experience section */
.section_heading{
    font-size: 28px;
}
/* our_creative_work */
.our_creative_work{
    background-color: var(--light_pink);
    border-radius: 25px;
}
.horizontal_card{
    background-color: #FF8C92;
    border-radius: 25px;
    padding: 0 0 0 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.card_1 .horizontal_card{
    background-color: #ECE6E7;
}
.card_2 .horizontal_card{
    background-color: #E0E8EA;
    padding: 0;
}
.card_2 .horizontal_card_content,
.card_4 .horizontal_card_content{
    padding: 75px;
}
.card_3 .horizontal_card{
    background-color: #FBE8E1;
}
.card_4 .horizontal_card{
    background-color: #EBE1E6;
    padding: 0;
}
/* testimonial */
.test_name{
    font-size: 18px;
    font-weight: 700;
}
.test_desc{
    font-size: 14px;
    font-weight: 200;
}
/* live chat */
.content_card_inner{
    padding: 100px 10px;
    background-color: aliceblue;
    border-radius: 25px;
}
.centered_text>p{
    overflow: hidden;
    text-align: center;
}
.centered_text>p:before,
.centered_text>p::after{
  background-color: #38474F;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.centered_text>p::before{
    right: 0.5em;
    margin-left: -50%;
}
.centered_text>p::after{
    left: 0.5em;
    margin-right: -50%;
}
.live_chat .content_card_inner{
    background-color: var(--black);
}
.live_chat .section_heading{
    text-transform: inherit;
}
/* professional_skills */
.professional_skills .content_card_inner{
    background-image: url(images/professionl_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.professional_content,
.blog .blog_text,
.mobile_mockup .mockup_text,
.licences .licences_text,
.password_protected .password_protected_text,
.changelog .changelog_text,
.error_page .error_page_text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.development_skills .mobile_app,
.development_skills .web_dev,
.development_skills .app_dev,
.development_skills .ui_ux{
    background-image: url(images/mobile_app_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:22px;
}
.development_skills .web_dev{
    background-image: url(images/web_dev_bg.png);
}
.development_skills .app_dev{
    background-image: url(images/app_dev_bg.png);
}
.development_skills .ui_ux{
    background-image: url(images/ui_ux_bg.png);
}
/* our blog */
.card{
    padding: 40px;
    border-radius: 25px;
}
.card_picture{
    margin-bottom: 20px;
}
.btn_pink,
.btn_sky{
    background-color: #FFEAEB   ;
    color: #F38F94;
    border-radius: 25px;
    padding: 6px 20px;
}
.btn_sky{
    background-color: var(--light_gray);
    color: #6DA3B0;
}
.more_blogs>div{
    top: 64%;
    left: 46%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
/* hire me */
.hire_me .content_card_inner{
    background-color: #F3EAEB;
    padding: 100px 50px 15px;
}
.hire_me input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #BB9297;
}
.hire_me input:focus{
    outline: none;
    color: var(--gray);
    font-weight: 200;
}
.hire_me label{
    font-weight: 400;
}
/* footer */
.footer_heading{
    font-weight: 600;
    font-size: 20px;
}
footer button{
    border: 1px solid --gray !important;
}
/* Blog Page */
.blog_header{
    background-image: url(images/blog_header_main_bg.png);
}
/* mobile_mockup page */
.mobile_mockup_header{
    background-image: url(images/mobile_mockup_header_bg.png);
}
.mobile_mockup_div .content_card_inner{
    padding: 0;
    background-color: transparent;
}
.democracy{
    background-image:linear-gradient(to right,#FFE7FE,#FFFFFF,#DDF8FF) ;
    border-radius: 25px;
}
.democracy .content_card_inner{
    background-color: transparent !important;
}
.product_manager .content_card_inner{
    background-color: var(--black);
}
/* licences page */
.licences_header{
    background-image: url(images/licences_header_bg.png);
}
/* password protected page */
.password_protected_header{
    background-image: url(images/password_protected_header_bg.png);
}
.password_protected .professional_content,
.changelog .professional_content{
    transform: none;
}
.password_protected .professional_content input,
.changelog .professional_content input{
    border: none;
    border-radius: 25px;
    padding: 12px;
}
/* changelog page */
.changelog_header{
    background-image: url(images/changelog_header_bg.png);
}
.changelog .professional_content input{
    padding:18px 30px ;
}
/* error page */
.error_page_header{
    background-image: url(images/404_header_bg.png);
}
.error_img{
    width: 350px;
}
@media screen and (max-width:1200px) {
    .section_heading {
        font-size: 24px;
    }
}
@media screen and (max-width:992px) {
    .section_sub_heading{
        font-size: 20px;
    }
    .section_main_heading{
        font-size: 35px;
    }
    .horizontal_card_content{
        text-align: center;
        padding: 30px !important;
    }
    .horizontal_card{
        padding: 0;
    }
}
@media screen and (max-width:768px) {
    .error_img{
        width: 250px;
    }
}
@media screen and (max-width:468px) {
    .section_main_heading{
        font-size: 30px;
    }
    .section_heading {
        font-size: 20px;
    }
    .card{
        padding: 10px 10px 40px 10px;
    }
    .hire_me .content_card_inner{
        background-color: #F3EAEB;
        padding: 100px 10px 15px;
    }
    .password_protected_text .section_main_heading{
        font-size: 25px !important;
    }
}